/*
 *
 * Toolbar Style
 *
 * @author Takuto Yanagida
 * @version 2021-09-07
 *
 */


$size-toolbar-button: 40px;


.toolbar {
	display: flex;

	position: relative;
	width   : 100%;
	height  : $size-toolbar-button;
	z-index : 999;

	transition      : 0.25s;
	background-color: $color-window;

	.btn {
		box-sizing : border-box;
		cursor     : default;
		user-select: none;

		margin : 0 0 2px 0;
		padding: 0 12px;
		width  : calc(#{$size-toolbar-button} + 12px * 2);
		height : $size-toolbar-button;

		img {
			opacity   : 0.65;
			transition: 0.25s;
		}
	}

	.btn:not(.disabled) {
		&:hover,
		&:active {
			img { opacity: 1; }
		}
		&:hover { margin: 0 0 2px 0; }
		&:active { margin: 2px 0 0 0; }
	}

	.btn.disabled {
		pointer-events: none;
		img { opacity: 0.25; }
	}

	.filler { flex: 1 1 auto; }
}

.toolbar .btn img {  // Icon wrapper
	margin : 0;
	padding: 0;
	width  : $size-toolbar-button;
	height : $size-toolbar-button;
}

.toolbar-shadow {
	box-shadow: 0   0 2px rgba(#000, 0.15),
	            0 2px 2px rgba(#000, 0.25);
}

.toolbar .overlap {
	display        : none;
	justify-content: center;
	align-items    : center;

	position: absolute;
	left    : 0;
	width   : 100%;
	height  : 100%;
	margin  : 0;
	z-index : 9999;

	font-family: $font-ui;
	font-size  : $font-size;

	background-color: $color-window;
	color           : $L-DarkGray;
}
